* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: rgb(230, 218, 202);
    font-family: American Typewriter, serif;
}

header {
    padding: 40px;
    background-color: #3A445D;
}

header a {
    color: inherit;
}

header * {
    background-color: #3A445D;
}

h1 {
    font-size: 50px;
}

#main-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#subheader {
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding-top: 20px;
}

#about-me {
    display: flex;
    flex: row;
    padding: 20px;
}

#about-me-header {
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
    text-decoration: underline;
    min-width: 20%;
}

#about-me-main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-left: solid; color: #3A445D;
    border-width: 10px
}

#profile-picture {
    display: flex;
    flex: 1 1 0;
    max-width: 300px;
    border: solid; color: #3A445D;
    border-radius: 20%;
    border-width: 10px;

}

#about-me-text {
    display: flex;
    padding-left: 50px;
    flex-direction: column;
    align-items: center;
}

#work {
    display: flex;
    flex: row;
    padding: 20px;
}

#work-header {
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
    text-decoration: underline;
    min-width: 20%;
}

#work-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex: column;
    border-left: solid; color: #3A445D;
    border-width: 0px 10px;
}

#code-refactor-screenshot {
    display: flex;
    flex: 1 2 0;
    max-height: 500px;
}

#work-main p {
    display: inline-flex;
    flex: 1 1 0;
    justify-content: center;
    font-size: 30px;
}


.work-other {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#placeholder-1,
#placeholder-2 {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 0;
    max-width: 50%;
    flex-direction: column;
}

.work-screenshot {
    display: flex;
    align-self: center;
    justify-content: center;
    flex: 1 1 0;
}

.work-other p {
    display: inline-flex;
    align-self: center;
    flex: 1 1 0;

}

#contact-me *,
#contact-me-header * {
    background-color: #3A445D;
}

#contact-me-header {
    font-size: 20px;
    text-decoration: underline;
}

#contact-me,
#contact-me-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3A445D;
    padding: 10px;
    font-size: 20px;
}