* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: rgb(230, 218, 202);
    font-family: American Typewriter, serif;
}

header {
    padding: 40px;
    background-color: #3A445D;
}

header a {
    color: inherit;
}

header * {
    background-color: #3A445D;
}

h1 {
    font-size: 50px;
}


body {
    margin: 0, auto;
}


#main-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#subheader {
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding-top: 20px;
}

#about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#profile-picture {
    display: flex;
    flex: 1 1 0;
    max-width: 300px;
    border: solid; color: #3A445D;
    border-radius: 20%;
    border-width: 10px;

}

#about-me-text {
    display: flex;
    padding-left: 50px;
    flex-direction: column;
    align-items: center;
}

#about-me-header * {
    background-color: #3A445D;
    padding: 20px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    text-decoration: underline;
}

#work-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#code-refactor-screenshot {
    display: flex;
    flex: 1 2 0;
    max-height: 500px;
}

#code-refactor p {
    display: inline-flex;
    flex: 1 1 0;
    position: relative;
    bottom: 48px;
    font-size: 30px;
}


.work-other {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#placeholder-1,
#placeholder-2 {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-wrap: wrap;
    flex: 1 1 0;
    max-width: 50%;
}

.work-screenshot {
    display: flex;
    align-self: flex-start;
    justify-content: center;
    flex: 1 1 0;
}

.work-other p {
    display: inline-flex;
    align-self: flex-end;
    flex: 1 1 0;
    position: relative;
    right: 525px;
}

#contact-me *,
#contact-me-header * {
    background-color: #3A445D;
}

#contact-me-header {
    font-size: 20px;
    text-decoration: underline;
}

#contact-me,
#contact-me-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3A445D;
    padding: 10px;
    font-size: 20px;
}